<html>
    <head>
        <title> The happiness </title>
        <style>
    body{
        background-color: black;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        color: white;
        text-align: center;
    }
    h2{
        color: white;
        text-align: center;
    }

    p {
        color: white;
        text-align: center;
    }
        </style>

    </head>
<body>
    <h1> The happiness </h1>
    <img src="https://c.tenor.com/WI_dKIOlK0YAAAAC/cursed-troll-face-troll-face.gif" alt="troll face">
    <br>
    <br>
    <br>
    <br>
    <h2>Your Message</h2>
    <hr>
    <p>{{output}}</p>
</body>
</html>
